<div class="container">
  <div class="row">
    <% if current_end_user.end_user_status == "musician" %>
      <%= @end_user.shop_profile.shop_favorites.each do |favorite| %>
      <%= favorite.shop_profile.username %>
      <%= favorite.
    <% else %>
      <% @end_user.musician_profile.musician_favorites.each do |favorite| %>
      <%= favorite.musician_profile.username %>
      <%= favorite.musician_profile.instrument %>
    <% end %>
    <%= favorite.
  </div>
</div>