<div class="container">
  <h1 class="end-user-heading">My Page</h1>
  <div class="row">
    <div class="col-md-3">
      <table class="table">
        <tr>
          <th>氏名</th>
          <td><%= @end_user.name %></td>
        </tr>
        <tr>
          <th>ユーザーネーム</th>
          <td><%= @end_user.username %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @end_user.email %></td>
        </tr>
        <tr>
          <th>会員タイプ</th>
          <td><%= @end_user.end_user_status %></td>
        </tr>
        <tr>
          <th>プロフィール</th>
          <td>
            <% if @end_user.musician? %>
            <%= link_to "表示", musician_profile_path(@end_user.musician_profile.id), class:"btn btn-warning" %>
            <% end %>
            <% if @end_user.shop? %>
            <%= link_to "表示", shop_profile_path(@end_user.shop_profile.id), class:"btn btn-warning" %>
            <% end %>
          </td>
        </tr>
      </table>
      <%= link_to "会員情報編集", edit_end_user_path(@end_user.id), class:"btn btn-success" %>
    </div>

    <div class="col-md-6">
      <h4 class="mypage_heading">あなたへのおすすめ</h4>
      <% if current_end_user.end_user_status == "musician" %>
        <% @shop_ranks.each do |shop_rank| %>
        <%= shop_rank.end_user.username %>
        <%= shop_rank.area_i18n %>
        <% end %>
      <% else %>
        <% @musician_ranks.each do |musician_rank| %>
        <%= musician_rank.end_user.username %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-3">
      <% if current_end_user.end_user_status == "musician" %>
      <%= link_to "お気に入り一覧", end_users_shop_favorite_list_path, class:"btn btn-warning" %>
      <% else %>
      <%= link_to "お気に入り一覧", end_users_musician_favorite_list_path, class:"btn btn-warning" %>
      <% end %>
      <br><br><br>
      <%= link_to "DM一覧", rooms_path, class:"btn btn-warning" %>
    </div>
  </div>
</div>