<div class="container">
  <h1 class="end-user-heading">My Page</h1>
  <div class="row">
    <div class="col-4 ">
      <table class="table">
        <tr>
          <th>氏名</th>
          <td><%= @end_user.name %></td>
        </tr>
        <tr>
          <th>ユーザーネーム</th>
          <td><%= @end_user.username.truncate(20) %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @end_user.email %></td>
        </tr>
        <tr>
          <th>会員タイプ</th>
          <td>
            <% if @end_user.end_user_status == "musician" %>
              <p>ミュージシャン</p>
            <% else %>
              <p>お店</p>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>プロフィール</th>
          <td>
            <% if @end_user.musician? %>
            <%= link_to "編集", edit_musician_profile_path(@end_user.musician_profile.id), class:"btn btn-outline-dark" %>
            <% end %>
            <% if @end_user.shop? %>
            <%= link_to "編集", edit_shop_profile_path(@end_user.shop_profile.id), class:"btn btn-outline-dark" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>会員情報</th>
          <td><%= link_to "編集", edit_end_user_path(@end_user.id), class:"btn btn-outline-dark" %></td>
        </tr>
        <tr>
          <th>お気に入り</th>
          <td>
            <%= link_to "一覧", end_users_favorite_list_path, class:"btn btn-outline-dark" %>
          </td>
        </tr>
        <tr>
          <th>メッセージ</th>
          <td><%= link_to "一覧", rooms_path, class:"btn btn-outline-dark" %></td>
        </tr>
      </table>
    </div>

    <div class="col-8">
      <h4 class="mypage-heading">あなたへのおすすめ</h4><br>
      <% if current_end_user.end_user_status == "musician" %>
        <% @shop_ranks.each do |shop_rank| %>
          <%= link_to shop_profile_path(shop_rank.id) do %>
            <div class="rank-box d-flex">
              <div class="rank-image">
              <%= attachment_image_tag shop_rank, :image, :fill, 100, 100, fallback: "no_image.jpg", class:"rank-icon" %>
              </div>
              <div class="rank-content">
                <strong class="rank-name"><%= shop_rank.end_user.username.truncate(10) %></strong><br><br>
                <i class="fas fa-map-pin mb-2"></i><%= shop_rank.area_i18n %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% @musician_ranks.each do |musician_rank| %>
          <%= link_to musician_profile_path(musician_rank.id) do %>
          <div class="rank-box d-flex">
            <div class="rank-image">
            <%= attachment_image_tag musician_rank, :image, :fill, 100, 100, fallback: "no_image.jpg", class:"rank-icon" %>
            </div>
            <div class="rank-content">
              <strong class="rank-name"><%= musician_rank.end_user.username.truncate(10) %></strong><br><br>
              <i class="fas fa-map-pin mb-2"></i><%= musician_rank.area_i18n %>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>