<div class="container">
  <h1 class="contact-heading">Contact Us</h1>
  <div class="row">
    <table class="table">
      <tr>
        <th>お名前</th>
        <td><%= @contact.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @contact.email %></td>
      </tr>
      <tr>
        <th>件名</th>
        <td><%= @contact.subject %></td>
      </tr>
      <tr>
        <th>お問い合わせ内容</th>
        <td><%= @contact.mail_body %></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <%= form_with model: @contact do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :mail_body %>
      <%= f.hidden_field :end_user_id %>
      <%= f.submit '送信', class:"btn btn-success" %>
    <% end %>

    <%= form_with model: @contact, url: contacts_back_path do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :mail_body %>
        <%= f.hidden_field :end_user_id %>
        <%= f.submit '入力画面に戻る', class:"btn btn-danger" %>
      <% end %>
  </div>
</div>
