<div class="container">
  <h1 class="message-heading">Messages</h1>
    <div class="messages">
      <%= render partial: 'message', collection: @messages %>
    </div>
    <%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
    <div class="form-input">
      <%= f.text_area :content, class: "form-message" %><br>
      <%= f.label :image, class: "far fa-image fa-2x" do %>
        <%= f.file_field :image, class:"message-image" %>
      <% end %>
      <%= f.submit "é€ä¿¡", class: " send btn btn-outline-dark" %>
    <% end %>
    </div>
</div>
