<div class="container">
  <h1 class="shop-profile-heading">Profile</h1>
  <div class="row">
    <div class="col-6">
      <%= attachment_image_tag @shop_profile, :image, :fill, 320, 250, fallback:"no_image.jpg", size:'320x250', class:"shop-icon" %>
        <div id="avarage"></div>
        <p class="review-count"><%= link_to @shop_reviews.count, admin_shop_profile_shop_reviews_path(shop_profile_id: @shop_profile.id) %>件のレビュー</p>
    </div>
    <div class="col-6">
      <p class="profile-name"><%= @shop_profile.end_user.username %></p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="profile-box col-12">
      <strong class="profile-label">店名</strong>
      <p><%= @shop_profile.shop_name %></p>
      <strong class="profile-label">都道府県</strong>
      <p><%= @shop_profile.area_i18n %></p>
      <strong class="profile-label">店舗音響設備</strong>
      <p class="profile-sentence"><%= @shop_profile.audio_equipment %></p>
      <strong class="profile-label">店舗紹介文</strong>
      <p class="profile-sentence"><%= @shop_profile.introduction %></p>
      <strong class="profile-label">希望音楽ジャンル</strong>
      <p><%= @shop_profile.genre_i18n %></p>
      <strong class="profile-label">ボーカルの希望</strong>
      <% if @shop_profile.is_vocal = true %>
        <p>有り</p>
      <% else %>
        <p>無し</p>
      <% end %>
      <strong class="profile-label">希望価格/1時間</strong>
      <p><%= @shop_profile.price %>円</p>
      <strong class="profile-label">店舗画像</strong><br>
      <%= attachment_image_tag @shop_profile, :shop_image, :fill, 350, 250, class:"shop-image-file" %>
    </div>
  </div>
  <div class="row">
    <%= link_to "編集", edit_admin_shop_profile_path(@shop_profile.id), class:"btn btn-outline-success mx-auto" %>
    <%= link_to "会員情報",admin_end_user_path(@end_user.id), class:"btn btn-outline-dark mx-auto" %>
  </div>
</div>

<script>
  <%= @shop_reviews = ShopReview.where(shop_profile_id: params[:id]) %>
  <% if @shop_reviews == [] %>
    <% review_average = 0 %>
  <% else %>
    <% review_average = @shop_reviews.average(:rate).round(1) %>
  <% end %>
  $('#star').raty({
    size: 36,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'shop_review[rate]',
    half: true
  });
  $('#avarage').raty({
    size: 36,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'shop_review[rate]',
    half: true,
    readOnly: true,
    score: "<%= review_average %>"
  });
</script>

