<div class="container">
  <h1 class="review-heading">Reviews</h1>
    <% @shop_reviews.each do |shop_review| %>
      <div class="card review mx-auto">
        <div class="card-header d-flex align-items-center justify-content-between">
          <%= attachment_image_tag shop_review.shop_profile, :image, :fill, 100, 100, fallback:"no_image.jpg" %>
          <%= shop_review.end_user.username %>
          <div id="average-review-rating-<%= shop_review.id %>" data-score=<%= shop_review.rate %>></div>
            <script>
              $('#average-review-rating-<%= shop_review.id %>').raty({
                readOnly: true,
                path: '/assets/',
                score: function() {
                  return $(this).attr('data-score')
                }
              });
            </script>
        </div>
        <div class="card-body">
          <p class="card-text text-center"><%= shop_review.comment %></p>
        </div>
      </div>
    <% end %>
</div>