<div class="container">
  <h1 class="contact-heading">Reply</h1>
    <%= form_for @contact, url: admin_contact_path do |f| %>
      <table class="table">
        <tr>
          <th>お名前</th>
          <td><%= @contact.name %></td>
        </tr>
        <tr>
          <th>受信日</th>
          <td><%= @contact.created_at.strftime("%Y年%m月%d日 ") %></td>
        </tr>
        <tr>
          <th>件名</th>
          <td><%= @contact.subject %></td>
        </tr>
        <tr>
          <th>問い合わせ内容</th>
          <td><%= @contact.mail_body %></td>
        </tr>
        <tr>
          <th>返信内容</th>
          <td><%= f.text_area :reply, size: "20x10", class:"form-control" %></td>
        </tr>
      </table>
      <%= f.submit "送信", class:"btn btn-outline-success btn-lg" %>
    <% end %>
</div>

