<div class="container">
  <h1 class="contact-heading">Inquiries</h1>
    <div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>お名前</th>
            <th>件名</th>
            <th>受信日</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.subject %></td>
            <td><%= contact.created_at.strftime("%Y年%m月%d日 ") %></td>
            <td><%= link_to "返信", edit_admin_contact_path(contact), class:"btn btn-outline-success" %></td>
            <td><%= link_to "削除", admin_contact_path(contact), method: :delete, class:"btn btn-outline-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
