<h1 class="admins_session_heading">管理者ログイン</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <ul>
  <li>
    <%= f.label :email, "メールアドレス" %>
  </li>
  <li>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </li>
  <li>
    <%= f.label :password, "パスワード" %>
  </li>
  <li>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </li>
  <li>
    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    <% end %>
  </li>
  <br>
  <li>
    <%= f.submit "ログイン" %>
  </li>
</ul>
<% end %>
