<div class="container">
  <h1 class="end-user-heading">User's infomation</h1>
  <div class="row">
    <table class="table">
      <tr>
        <th>氏名</th>
        <td><%= @end_user.name %></td>
      </tr>
      <tr>
        <th>ユーザーネーム</th>
        <td><%= @end_user.username.truncate(20) %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @end_user.email %></td>
      </tr>
      <tr>
        <th>会員タイプ</th>
        <td>
          <% if @end_user.end_user_status == "musician" %>
            <p>ミュージシャン</p>
          <% else %>
            <p>お店</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>プロフィール</th>
        <td>
          <% if @end_user.musician? %>
          <%= link_to "表示", admin_musician_profile_path(@end_user.musician_profile.id), class:"btn btn-outline-dark" %>
          <% end %>
          <% if @end_user.shop? %>
          <%= link_to "表示", admin_shop_profile_path(@end_user.shop_profile.id), class:"btn btn-outline-dark" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>会員情報</th>
        <td><%= link_to "編集", edit_admin_end_user_path(@end_user.id), class:"btn btn-outline-dark" %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td>
          <% if @end_user.is_active == true %>
            <p>有効</p>
          <% else %>
            <p>退会</p>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
