<div class="container">
    <h1 class="musician-profile-heading">Musicians</h1>
    <%= form_tag(musician_profiles_path, method: "get") do %>
    <%= label_tag :genre, "ジャンルで絞り込む" %>
    <%= select_tag :genre, options_for_select(MusicianProfile.genres_i18n), include_blank: true %>
    <%= submit_tag "検索" %>
    <% end %>


    <div class="row d-flex flex-wrap justify-content-start">
        <% @musician_profiles.each do |musician_profile| %>
        <div class="profile-box">
            <table class=" table-borderless">
                <tr>
                    <th><%= attachment_image_tag musician_profile, :image, :fill, 100, 100, fallback:"no_image.jpg" %></th>
                    <td><%= link_to musician_profile.username,musician_profile_path(musician_profile.id) %></td>
                </tr>
                <tr>
                    <th>活動エリア</th>
                    <td><%= musician_profile.area %></td>
                </tr>
                <tr>
                    <th>楽器</th>
                    <td><%= musician_profile.instrument %></td>
                </tr>
                <tr>
                    <th>1時間</th>
                    <td><%= musician_profile.price %>円</td>
                </tr>
            </table>
        </div>
        <% end %>
    </div>
</div>