<h1 class="musician_profile_heading">Musicians</h1>

<div class="musician_list">
    <% @musician_profiles.each do |musician_profile| %>
    <div class="profile_box">
        <%= attachment_image_tag musician_profile, :image, fallback:"no_image.jpg" %>
        <%= link_to musician_profile.username,musician_profile_path(musician_profile.id) %>
        <p class= "box_content">活動エリア　<%= musician_profile.area %></p>
        <p class="box_content">楽器　<%= musician_profile.instrument %></p>
        <p class="box_content">希望価格(1時間)　<%= musician_profile.price %></p>
    </div>
    <% end %>
</div>