<div class="container">
  <h1 class="musician-profile-heading">Profile</h1>
  <div class="row justify-content-center">
  <table class="table-borderless">
    <tr>
      <th><%= attachment_image_tag @musician_profile, :image, :fill, 150, 150, fallback:"no_image.jpg" %></th>
      <td>　　　    <%= @musician_profile.username %>　<%= @musician_profile.reviews.count %>件のレビュー</td>
    </tr>
    <tr>
      <th>音楽ジャンル</th>
      <td>　　　　　<%= @musician_profile.genre_i18n %></td>
    </tr>
    <tr>
      <th>活動エリア</th>
      <td>　　　　　<%= @musician_profile.area_i18n %></td>
    </tr>
    <tr>
      <th>楽器</th>
      <td>　　　　　<%= @musician_profile.instrument %></td>
    </tr>
    <tr>
      <th>活動人数</th>
      <td>　　　　　<%= @musician_profile.total_member %>人</td>
    </tr>
    <tr>
      <th>ボーカルの有無</th>
      <tr>　　　　　<%= @musician_profile.is_vocal %></tr>
    </tr>
    <tr>
      <th>希望価格(1時間)</th>
      <td>　　　　　<%= @musician_profile.price %></td>
    </tr>
    <tr>
      <th>自己紹介文</th>
      <td>　　　　　<%= @musician_profile.introduction %></td>
    </tr>
    <tr>
      <th>演奏動画</th>
      <td>　　　　　<%= @musician_profile.video_id %></td>
    </tr>
  </table>
  </div>

  <div class="review-new">
    <h5 class="review-heading">レビューを書く</h5>
      <div class="rating-box">
        <%= form_with model: @review, url: musician_profile_reviews_path(@musician_profile), local: true do |f| %>
          <div class="main-rating">
            <div class="ratings">
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
            </div>
            <div class="rating-value-display"><span id="rating-value-display">0</span>/5</div>
          </div>
          <%= f.hidden_field :musician_profile_id, value: @musician_profile.id %>
          <%= f.hidden_field :score, id: "rating-value" %>
          <%= f.text_area :comment %>
          <%= f.submit "保存", class:"btn btn-success" %>
        <% end %>
      </div>
  </div>
</div>

<%= javascript_include_tag "reviews.js" %>