<div class="container">
  <h1 class="musician-profile-heading">Profile</h1>
    <div class="row">
      <div class="col-6 position-static">
        <%= attachment_image_tag @musician_profile, :image, :fill, 320, 250, fallback:"no_image.jpg", class:"shop-icon" %>
          <div id="avarage"></div>
          <p class="review-count"><%= link_to @musician_reviews.count, musician_profile_musician_reviews_path(musician_profile_id: @musician_profile.id) %>件のレビュー</p>
          <% if end_user_signed_in? %>
          <div class="d-flex">
            <p class="favorite">お気に入りに追加</p>
            <div class="" id="show_favorite_<%= @musician_profile.id %>">
              <%= render 'public/musician_favorites/favorite', musician_profile: @musician_profile %>
            </div>
          </div>
          <% end %>
      </div>
      <div class="col-6 position-static">
        <p class="profile-name"><%= @musician_profile.end_user.username %></p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="profile-box position-static col-12">
        <strong class="profile-label">音楽ジャンル</strong>
        <p><%= @musician_profile.genre_i18n %></p>
        <strong class="profile-label">活動エリア</strong>
        <p><%= @musician_profile.area_i18n %></p>
        <strong class="profile-label">楽器</strong>
        <p><%= @musician_profile.instrument %></p>
        <strong class="profile-label">活動人数</strong>
        <p><%= @musician_profile.total_member %>人</p>
        <strong class="profile-label">ボーカルの有無</strong>
        <% if @musician_profile.is_vocal = true %>
          <p>有り</p>
        <% else %>
          <p>無し</p>
        <% end %>
        <strong class="profile-label">希望価格/1時間</strong>
        <p><%= @musician_profile.price %></p>
        <strong class="profile-label">自己紹介文</strong>
        <p class="profile-sentence"><%= @musician_profile.introduction %></p>
        <strong class="profile-label">演奏動画</strong><br>
        <% if @musician_profile.video.attached? %>
          <video src="<%= rails_blob_path(@musician_profile.video) %>" type="video/mp4" controls></video>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6 position-static">
        <div class="rating-box">
          <h6 class="profile-label">レビューを書く</h6>
              <%= form_with model: @musician_review, url: musician_profile_musician_reviews_path(@musician_profile) ,local: true do |f| %>
                <%= f.label :comment, "コメント", class:"profile-label" %>
                <%= f.text_area :comment, class:"review form-control" %>
                <br>
                <div id="star">
                <%= f.label :rate, "評価", class:"profile-label" %>　<%= f.hidden_field :rate, id: :review_star %>
                </div>
                <br>
                <%= f.submit "投稿", class:"review btn btn-outline-dark btn-block" %>
              <% end %>
              <br>
        </div>
      </div>
        <div class="chat-wrapper position-static col-6">
          <% if end_user_signed_in? %>
            <% if @room.present? %>
              <%= link_to room_messages_path(@room), class:"message btn btn-outline-dark btn-block" do %>
                <i class="far fa-comments">　メッセージを送る</i>
              <% end %>
            <% else %>
              <%= link_to(rooms_path(end_user_ids: [current_end_user.id, @musician_profile.end_user.id]), method: :post, class:"message btn btn-outline-dark btn-block") do %>
                <i class="far fa-comments">　メッセージを送る</i>
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
</div>

 <script>
  $('#star').raty({
    size: 36,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'musician_review[rate]',
    half: true
  });
  $('#avarage').raty({
    size: 36,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'musician_review[rate]',
    half: true,
    readOnly: true,
    score: "#{musician_review.average(:rate).round(1)}"
  });
</script>

