<div class="container">
  <h1 class="musician-profile-heading">Profile</h1>
  <div class="row">
    <div class="col-8 d-flex justify-content-center">
      <div class="profile-box">
        <div class="d-flex flex-row">
          <%= attachment_image_tag @musician_profile, :image, :fill, 150, 150, fallback:"no_image.jpg" %>
          <p class="profile-name"><%= @musician_profile.username %></p>
        </div>
        <br>
        <p><%= @musician_profile.reviews.count %>件のレビュー</p>
        <table class="table table-borderless">
          <tr>
            <th>音楽ジャンル</th>
            <td><%= @musician_profile.genre_i18n %></td>
          </tr>
          <tr>
            <th>活動エリア</th>
            <td><%= @musician_profile.area_i18n %></td>
          </tr>
          <tr>
            <th>楽器</th>
            <td><%= @musician_profile.instrument %></td>
          </tr>
          <tr>
            <th>活動人数</th>
            <td><%= @musician_profile.total_member %>人</td>
          </tr>
          <tr>
            <th>ボーカルの有無</th>
            <td><% if @musician_profile.is_vocal = true %>
                <p>有り</p>
                <% else %>
                <p>無し</p>
                <% end %>
            </td>
          </tr>
          <tr>
            <th>希望価格(1時間)</th>
            <td><%= @musician_profile.price %></td>
          </tr>
          <tr>
            <th>自己紹介文</th>
            <td><%= @musician_profile.introduction %></td>
          </tr>
          <tr>
            <th>演奏動画</th>
            <td><%= @musician_profile.video_id %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-4 d-flex justify-content-center align-items-center">
      <div class="rating-box">
        <h5>レビューを書く</h5>
          <div id="rating-stars">
            <%= form_with model: @musician_profile, local: true do |f| %>
              <%=f.label :comment, "コメント" %>
              <%= f.text_area :comment %>
              <%= f.label :rate %>
              <%= f.hidden_field :rate, id: :review_star %>
              <%= f.submit "投稿" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

 <script>
  $('#star').raty({
   size: 36,
   starOff: "#{asset_path('star-off.png')}",
   starOn: "#{asset_path('star-on.png')}",
   starHalf: "#{asset_path('star-half.png')}",
   scoreName: 'review[rate]'
   half: true
  });
</script>