<!DOCTYPE html>
<html>
  <head>
    <title>SoundLodge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/f6d278026b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar col-auto">
      <%= link_to image_tag("logo.jpg"), "/",class: "navbar-brand" %>
        <ul class="nav-content">
          <% if end_user_signed_in? %>
            <li class="nav-list"><%= link_to 'Sound Logeとは', about_path, class:"nav-link" %></li>
            <li class="nav-list"><%= link_to 'マイページ', end_user_path(current_end_user.id), class:"nav-link" %></li>
            <li class="nav-list"><%= link_to 'お店を探す', shop_profiles_path, class:"nav-link" %></li>
            <li class="nav-list"><%= link_to 'ミュージシャンを探す', musician_profiles_path, class:"nav-link" %></li>
            <li class="nav-list"><%= link_to 'お問い合わせ', new_contact_path, class:"nav-link" %></li>
            <li class="nav-list"><%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete, class:"nav-link" %></li>
            <% if @notification_message.present? ||  @notification_favorite.present? || @notification_review.present? %>
              <%= link_to notifications_path do %>
                <i class="fas fa-bell"></i>
              <% end %>
            <% end %>
          <% elsif admin_signed_in? %>
            <li class="nav-list">会員店舗一覧</li>
            <li class="nav-list">会員ミュージシャン一覧</li>
            <li class="nav-list">お問い合わせ一覧</li>
            <li class="nav-list"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"nav-link" %></li>
          <% else %>
            <li class="nav-list"><%= link_to 'Sound Lodgeとは', about_path, class:"nav-link" %></li>
            <li class="nav-list"><%= link_to 'ログイン', new_end_user_session_path, class:"nav-link" %></li>
            <li class="nav-list"><%= link_to 'お店を探す', shop_profiles_path, class:"nav-link" %></li>
            <li class="nav-list"><%= link_to 'ミュージシャンを探す', musician_profiles_path, class:"nav-link" %></li>
            <li class="nav-list"><%= link_to 'お問い合わせ', new_contact_path, class:"nav-link" %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
